/* Variable */
:root {
    --main-color: #2196f3;
    --secound-color: #00bcd4;
    --back-color: #fbfdfe;
    --main-padding: 80px;
    --main-transition: .4s;
    --text-color: #777;
    --heading-color: #586567;
    --main-gap: 40px
}

/* componant  */

.main-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    outline: none;
    padding: 12px 25px;
    border-radius: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: var(--main-transition);
}

.main-button:hover {
    background-color: var(--secound-color);
    color:rgb(250 250 250 / .8)
}

.main-heading {
    text-align: center;
    margin-bottom: var(--main-padding);
}

.main-heading h2 {
    color: var(--heading-color);
    position: relative;
    margin-bottom: 50px;
}

.main-heading h2::before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid var(--main-color);
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
}

/************************* Start Style Landding ************************/

.landding {
    height: calc(100vh - 88px);
    min-height: 650px;
}

.landding .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--back-color) !important;
    margin-left: 5px;
    margin-right: 5px;
}

.landding .carousel-indicators button.active {
    background-color: white;
}

/* So that the images take the height of the page, regardless of the dimensions, taking into account responsive */
.landding .carousel,
.landding .carousel .carousel-inner,
.landding .carousel .carousel-inner .carousel-item,
.landding .carousel .carousel-inner .carousel-item img {
    height: 100%;
}

.landding .carousel .carousel-inner .carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .6);
    position: absolute;
    top: 0;
    left: 0;
}

.landding .carousel .carousel-item img {
    object-fit: cover;
} 

.landding .carousel .carousel-item .carousel-caption {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landding .carousel .carousel-caption h2 {
    font-size: 3rem;
    color: white;
}

.landding .carousel .carousel-caption p {
    color: rgb(250 250 250 / .5);
    font-size: 18px;
    margin: 30px 0
}

.landding .carousel .carousel-caption button {
    width: fit-content;
}

.landding .carousel .control span {
    width: 2.6rem;
    height: 2.6rem;
    filter: none;
    border: 1px solid;
    transition: var(--main-transition);
}

.landding .carousel .control span:hover {
    background-color: var(--main-color);
    border: none;
}

@media (max-width: 991px) {
    .landding {
        height: calc(100vh - 86px);
    }
}

@media (max-width: 767px) {
    
    .landding .carousel .carousel-caption h2 {font-size: 2rem}

    .landding .carousel .carousel-caption p {font-size: 1rem}

}

/************************* End Style Landding ************************/

/************************* Start Style About Us ************************/

.about-us {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.about-us .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: var(--main-gap)
}

.about-us article .icon {
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 3rem;
    background-color: #eee;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCC;
    transition: var(--main-transition);
}

.about-us article .icon:hover {
    background-color: var(--main-color);
    color: white
}

.about-us article h3 {
    font-size: 2rem;
    margin: 25px 0;
    color: var(--heading-color)
}

@media (max-width: 575px) {
    
    .about-us .container {
        grid-template-columns: auto;
    }

}

/************************* End Style About Us  ************************/

