/*    
    Template: Aragon Technology
    made by : Ahmed Elmohtarif
    website : muhtarif.me
    deat finsh : 25 / 7 / 2022
*/

/************************* Start Style Landding ************************/

.landding {
    height: calc(100vh - 88px);
    min-height: 650px;
}

.landding .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--back-color) !important;
    margin-left: 5px;
    margin-right: 5px;
}

.landding .carousel-indicators button.active {
    background-color: white;
}

/* So that the images take the height of the page, regardless of the dimensions, taking into account responsive */
.landding .carousel,
.landding .carousel .carousel-inner,
.landding .carousel .carousel-inner .carousel-item,
.landding .carousel .carousel-inner .carousel-item img {
    height: 100%;
}

.landding .carousel .carousel-inner .carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .6);
    position: absolute;
    top: 0;
    left: 0;
}

.landding .carousel .carousel-item img {
    object-fit: cover;
} 

.landding .carousel .carousel-item .carousel-caption {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landding .carousel .carousel-caption h2 {
    font-size: 3rem;
    color: white;
}

.landding .carousel .carousel-caption p {
    color: rgb(250 250 250 / .5);
    font-size: 18px;
    margin: 30px 0
}

.landding .carousel .carousel-caption button {
    width: fit-content;
}

.landding .carousel .control span {
    width: 2.6rem;
    height: 2.6rem;
    filter: none;
    border: 1px solid;
    transition: var(--main-transition);
}

.landding .carousel .control span:hover {
    background-color: var(--main-color);
    border: none;
}

@media (max-width: 991px) {
    .landding {
        height: calc(100vh - 86px);
    }
}

@media (max-width: 767px) {
    
    .landding .carousel .carousel-caption h2 {font-size: 2rem}

    .landding .carousel .carousel-caption p {font-size: 1rem}

    .landding .slide > button {
        display: none;
    }

}

/************************* End Style Landding ************************/

/************************* Start Style About Us ************************/

.about-us {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.about-us .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: var(--main-gap)
}

.about-us article .icon {
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 3rem;
    background-color: #eee;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCC;
    transition: var(--main-transition);
}

.about-us article .icon:hover {
    background-color: var(--main-color);
    color: white
}

.about-us article h3 {
    font-size: 2rem;
    margin: 25px 0;
    color: var(--heading-color)
}

@media (max-width: 575px) {
    
    .about-us .container {
        grid-template-columns: auto;
    }

}

/************************* End Style About Us  ************************/

/************************* Start Style Services ************************/

.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.services::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--back-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(4deg);
}

.services .row section {
    padding-left: 6px;
    padding-right: 6px;
}

.services .row .card {
    box-shadow: 0 0 15px rgb(0 0 0 / .1);
    transition: var(--main-transition);
}

.services .card:hover {
    transform: translateY(-25px);
    box-shadow: 0 0 15px rgb(0 0 0 / .3);
}

.services .card:hover .info svg {
    animation: arrow .7s ease-in-out infinite;
}

.services .card h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.services .card ul li {
    color: var(--text-color);
    transition: var(--main-transition);
}

.services .card ul li:hover {
    color: var(--secound-color)
}

.services .card .info {
    padding-top: 15px;
    border-top: 1px solid #e6e6e7;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.services .card .info a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}


/* Anmation */
@keyframes arrow {
    from {
        transform: translateX(10px);
    }
}

/************************* End Style Services ************************/

/************************* Start style Testimonials ************************/

.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.testimonials .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 35px
}

.testimonials .cards .monial {
    background-color: white;
    padding: 25px;
    color: var(--main-transition);
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    position: relative;
    transition: var(--main-transition);
    cursor: pointer;
    border: 3px solid var(--main-color)
}

.testimonials .cards .monial:hover {
    box-shadow: 0 0 12px rgb(0 0 0 / .4);
    transform: scale(1.01);
    background-color: var(--main-color);
    color: white;
}

.testimonials .cards .monial:hover p {
    color: rgb(250 250 250 / .5);
}

.testimonials .cards .monial::before,
.testimonials .cards .monial::after {
    content: "";
    width: 12px;
    height: 52px;
    background-color: #ffc107;
    position: absolute;
    top: 0;
    transform: translate(-50%, -60%) rotate(7deg) skewX(5deg);
}

.testimonials .cards .monial::before {
    left: calc(50% - 10px)
}

.testimonials .cards .monial::after {
    left: calc(50% + 10px)
}

.testimonials .monial .info {
    width: calc(70% - 25px)
}

.testimonials .monial .info p {
    font-size: 14px;
}

.testimonials .monial .info .rate svg {
    color: #ffc107
}

.testimonials .monial .image {
    width: 30%
}

.testimonials .monial .image img {
    max-width: 100%
}

/* Media Query */
@media (max-width: 575px) { 
    .testimonials .cards {
        grid-template-columns: auto;
    }
}

/************************* End Style Testimonials ************************/

/************************* Start Style contact us ************************/

.contact {
    margin-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--back-color);
    position: relative;
}

.contact img.curve {
    width: 100%;
    height: var(--main-padding);
    position: absolute;
    top: 0;
    transform: translateY(-100%)
}

.contact .info section {
    margin-bottom: 10px;
}

.contact .info section h5 {
    color: var(--heading-color)
}


.contact .info section a {
    text-decoration: none;
    color: var(--main-color);
    direction: ltr;
}

.contact .info section a:hover {
    color: var(--secound-color)
}

.contact .info section.social {
    margin-top: 25px;
}

.contact .info .social ul li a {
    display: block;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 7px;
    margin: 10px 5px;
    transition: var(--main-transition);
}

.contact .info .social ul li a[href*="facebook"] {background-color: #1877f2}

.contact .info .social ul li a[href*="instagram"] {background-color: #5851db}

.contact .info .social ul li a[href*="twitter"] {background-color: #1da1f2}

.contact .info .social ul li a[href*="linkedin"] {background-color: #0077b5}

.contact .info .social ul li a[href*="youtube"] {background-color: #ff0000}

.contact .info .social ul li a:hover {
    background-color: var(--secound-color);
    color: #f7f7f7
}

.contact .image img {
    animation: top-down 1s linear infinite alternate;

}

.contact .main-button {
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 25px
}

/* Animation */
@keyframes top-down {
    to {
        transform: translateY(-20px);
    }
}

/************************* End Style contact us ************************/


/************************* Start Style google map ************************/

iframe {
    width: 100%;
    height: 250px;
    margin-bottom: -7px;
}

/************************* End Style google map ************************/