/*
    Template: Aragon Technology
    made by : Ahmed Elmohtarif
    website : https://elmohtarif2410.github.io/My-portofolio
    deat finsh : it's not finsh
*/

/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-color: #2196f3;
    --secound-color: #00bcd4;
    --back-color: #fbfdfe;
    --main-padding: 80px;
    --main-transition: .4s;
    --text-color: #777;
    --heading-color: #586567;
    --main-gap: 40px
}

body {
    font-family: "Tajawal", sans-serif, Tahoma, Geneva, Verdana;
    height: 10000px;
}

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

p {
    line-height: 1.7;
    color: var(--text-color)
}
/********************** End Style Global Rouls ***********************/

/********************** Start Style compotant ***********************/



/********************** End Style compotant ***********************/

/*********************************************************************
************************** Style to project **************************
*********************************************************************/


/*########################### Start style navbar ##########################*/

.navbar {
    border-bottom: 2px solid var(--main-color)
}

.navbar .navbar-brand img {
    height: 60px;
}

.navbar .navbar-toggler {
    font-size: 26px;
    border: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-nav li a {
    font-size: 20px;
    position: relative;
    z-index: 1;
    transition: color var(--main-transition)
}

.navbar .navbar-nav li a::before {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    right: 0;
    transition: width var(--main-transition)
}

.navbar .navbar-nav li a::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: var(--back-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width var(--main-transition)
}

.navbar .navbar-nav li a.active {
    color: var(--main-color);
}

.navbar .navbar-nav li a:hover:not(.active) {
    color: var(--secound-color)
}

.navbar .navbar-nav li a:hover:not(.active)::before,
.navbar .navbar-nav li a:hover:not(.active)::after {
    width: 100%;
}

@media (max-width: 991px) {

    .navbar {
        border: none;
    }

    .navbar .navbar-nav {
        margin-top: 25px
    }

    .navbar .navbar-nav li a::before,
    .navbar .navbar-nav li a::after {
        display: none;
    }

    .navbar .navbar-nav li:not(:first-of-type) a {
        border-top: 1px solid #eee
    }
}

/*########################### Start style navbar ##########################*/