/*    
    Template: Aragon Technology
    made by : Ahmed Elmohtarif
    website : muhtarif.me
    deat finsh : 25 / 7 / 2022
*/

/************************* Start Style contact Us ************************/

.contact-us {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.contact-us::before {
    content: "";
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0;
    top: -20%;
    z-index: -1;
    background-color: var(--back-color);
    transform: skewY(-4deg);
}

.contact-us .row div:not(.content) > article {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: var(--main-transition);
}

.contact-us .row div:not(.content) > article:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.contact-us .row div:not(.content) > article svg {
    font-size: 34px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.contact-us .row div:not(.content) > article p {
    font-size: 18px;
}

.contact-us .row .image {
    animation: left-right .8s ease-in-out infinite alternate;
}

.contact-us .row .image:hover {
    animation-play-state: paused;
}

.contact-us .row .content h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--heading-color);
    margin-top: 25px
}

.contact-us .row .content ul.icon li a {
    display: block;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    border-radius: 7px;
    margin: 10px 5px;
    transition: var(--main-transition);
}

.contact-us .row .content ul.icon li a[href*="facebook"] {background-color: #1877f2}

.contact-us .row .content ul.icon li a[href*="instagram"] {background-color: #5851db}

.contact-us .row .content ul.icon li a[href*="twitter"] {background-color: #1da1f2}

.contact-us .row .content ul.icon li a[href*="linkedin"] {background-color: #0077b5}

.contact-us .row .content ul.icon li a[href*="youtube"] {background-color: #ff0000}


.contact-us .row .content ul.icon li a:hover {
    background-color: var(--secound-color);
    color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.contact-us .row .content .whats svg {
    margin-top: 10px;
    font-size: 32px;
    background-color: #25d366;
    color: white;
    padding: 12px;
    border-radius: 50%;
    transition: var(--main-transition);
}

.contact-us .row .content .whats svg:hover {
    transform: scale(1.03);
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

/* Anmation */
@keyframes left-right {
    to {
        transform: translateX(-15px);
    }
}

/* Media Query */
@media (max-width: 767px) {
    .contact-us .row .image {
        display: none;
    }
}
/************************* End Style contact Us ************************/

/************************* Strart Style form ************************/

.form {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.form form input,
.form form textarea {
    border: 1px solid #eee;
    background-color: var(--back-color);
    margin-bottom: 25px;
    outline: none;
    width: 100%;
    padding: 15px;
    caret-color: var(--main-color);
    font-size: 18px;

}

.form form input::placeholder,
.form form textarea::placeholder {
    color: var(--text-color)
}

.form form textarea {
    height: 220px
}

.form form input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    transition: var(--main-transition);
    border-radius: 12px;
}

.form form input[type="submit"]:hover {
    background-color: transparent;
    color: var(--main-color);
    border: 3px solid
}

/************************* End Style form ************************/

/************************* Start Style google map ************************/

iframe {
    width: 100%;
    height: 250px;
    margin-bottom: -7px;
}

/************************* End Style google map ************************/

